.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.list {
  display: inline-block;
  padding-right: 12px;
}

.list, .timelineItem {
  list-style: none;
}

.timelineItem {
  margin-left: -40px;
}

.lightText {
  color: #999;
}

.darkGrayText {
  color: #282828;
}

.footer {
  border-top: 1px solid #d3d3d3;
  margin-top: 50px;
  text-align: center;
}
